ul {
    list-style: none;
}
li {
    margin-bottom: 10px;
}
.delete-btn{
    margin-left: 10px;
    color: #ffffff;
    background-color: #db48cd;
    border: 1px;
    border-radius: 4px;
    padding: 7px;
}
